-# coding: utf-8
%p Bonjour,
%p Nous validons votre inscription au tournoi .
%p Merci de noter que les 16 têtes de séries hommes ainsi que les femmes commencent le samedi, les autres participants jouent deux matchs le vendredi à partir de 18h00.
%p Nous vous invitons à suivre régulièrement la liste des inscrits sur le site .
%p Les horaires des matchs seront disponibles le vendredi jour du tournoi à partir de 12h00.
