- # coding: UTF-8
Bonjour 
= @user.first_name
,
%br
%br
Votre demande d'information a bien été enregistrée, vous recevrez un mail d'information à l'occasion du prochain tournoi organisé par My Squash. 
%br
%br
Bonne journée.