- # coding: UTF-8
Bonjour,
%br
%br
Les inscriptions du nouveau tournoi organisé par my squash sont en ligne.
%br
Vous pouvez vous inscrire en allant sur le site de MySquash :
= link_to root_url, "Site de MySquash"
%br
%br
Bonne journée