%p Bonjour,
%p
  Vous êtes sur la liste d’attente pour participer au tournoi , vous êtes actuellement en
  = @inscription.waiting_list
  ème position . 
%p Vous recevrez un mail, si vous êtes intégrés dans la liste officielle.