#footer
  #footer_links.size_100.center
    .footer_link
      =link_to root_path do 
        =image_tag "footer_cup.png"
        %p les tournois
    .footer_link
      =image_tag "footer_cart.png"
      %p la boutique
    .footer_link
      =link_to lecons_path do 
        =image_tag "footer_racket.png"
        %p les leçons
    .clearfix

  #legal_mentions.size_75.center
    %h4 MENTIONS LÉGALES - POLITIQUES DE CONFIDENTIALITÉ
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
