#footer
  #footer_links.size_100.center
    .footer_link
      =link_to root_path do 
        =image_tag "footer_cup.png"
        %p les tournois
    .footer_link
      =image_tag "footer_cart.png"
      %p la boutique
    .footer_link
      =link_to lecons_path do 
        =image_tag "footer_racket.png"
        %p les leçons
    .clearfix