#menu.bold
  #menu_items.size_100.center
    .menu_item
      =link_to root_path do 
        =image_tag "header_cup.png"
        %span Les tournois
    .menu_item
      =link_to "http://www.my-squash.com" do 
        =image_tag "header_cart.png"
        %span La boutique
    .menu_item
      =link_to lecons_path do 
        =image_tag "header_racket.png"
        %span les leçons
    .clearfix