#menu.bold
  #menu_items.size_100.center
    .menu_item
      =link_to root_path do 
        =image_tag "header_cup.svg"
        %span Les tournois
    .menu_item
      =image_tag "header_cart.svg"
      %span La boutique
    .menu_item
      =link_to lecons_path do 
        =image_tag "header_racket.svg"
        %span les leçons
    .clearfix