// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin text-indent {
  text-indent: -1000em;
  overflow: hidden;
  outline: none;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

/*************
*** LECONS ***
*************/
#lecons {

  #lecon_introduction {
    background: image-url('lecons_logo.png') no-repeat top center;
    height: 200px;
    @include text-indent;
  }

  #slideshow_wrapper {

    #slideshow {
      display: block;
      position: relative;
      text-align: center;

      #left_arrow, #right_arrow {
        cursor: pointer;
        position: absolute;
        top: 192px;
      }

      #left_arrow { left: 0; }
      
      #right_arrow { right: 0; }
    }
  }
}

/****************
*** RUBRIQUES ***
****************/
#rubriques {
  display: block;
  margin-top: 40px;
  
  &:after {
    height: 20px;
  }

  .rubrique {
    text-align: center;
    width: 400px;



    a.disabled {
      background-color: #eee;
      border: 1px solid #c0c0c0;
      color: #989898;
      cursor: default;
      @include border-radius(200px);
      padding: 5px 35px;
      text-decoration: none;
    }
  }

  #contact_rubrique { 
    clear: both; 
    
    a {
      color: #000;
      text-decoration: none;
    }
  }
}


/****************
*** FOOTER ***
****************/

.footer_comment {
  font-size: 1.2em;
  padding-left: 45px;
  padding-top: 45px;
  text-align: justify;
}

.footer_comment_author {
  font-size: .95em;
  font-weight: bold;
  margin-top: 5px;
  padding-left: 45px;
}
