// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/******************
***  Variables  ***
******************/
$page_width: 1000px;
$page_75_width: $page_width * 0.75;
$page_50_width: $page_width * 0.5;
$page_25_width: $page_width * 0.25;

$menu_item_width: $page_width / 3;

$input_width: 200px;

$red: #ff4b61;
$grey: #787878;
$wrap : 960px;

/****************
****  Mixins  ***
*****************/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow {
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4);
}
@mixin text-indent {
  text-indent:-1000em;
  overflow:hidden;
  outline:none;
}
@mixin inputshadow{
  -webkit-box-shadow:inset 0 1px 2px 0 rgba(100,100,100,0.2);
  box-shadow:inset 0 1px 2px 0 rgba(100,100,100,0.2);
}
@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}
/**************************
***  Position and size  ***
**************************/
.clearfix {
	display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin: auto;
}

.size_100 {
	width: $page_width; 
}

.size_75 {
	width: $page_width - 310;
}

.size_50 {
	width: $page_50_width;
}

.size_25 {
	width: 300px;
  padding-right: 10px;
}

/*********************
***  Font classes  ***
*********************/
* {
	font: 15px 'pt_sansregular';
}

.bold {
	font-family: 'pt_sansbold';
}
.upper{text-transform:uppercase;}

.red {
	color: $red;
}
body{  
  background: #f6f6f6;  
  #wrapper {
    background: image-url('bg-home.jpg') repeat-x bottom center #f6f6f6;
	   #trame{
      background: image-url('trame.png');
    }
  }
}

/*************
***  Menu  ***
*************/
#menu {
	background: $red;
	color: white;
  @include box-shadow;
  height: 45px;

	.menu_item {
		float: left;
		margin: 3px 0;
		width: $menu_item_width;
    text-transform:uppercase;
    font-size:15px;
	}

	.menu_item:nth-of-type(1) { text-align: left; }

	.menu_item:nth-of-type(2) { text-align: center; }

	.menu_item:nth-of-type(3) { text-align: right; }

	.menu_item img { 
		vertical-align: middle;
		margin-right: 4px;
	}
}

#tournament {
  margin-top: 30px;
	#tournament_introduction {
    margin-bottom:40px;
    h1{
      background:image-url('logo.png') no-repeat top center;
      height:200px;
      @include text-indent;
    }
    h2{
      padding:0 0 0 310px;
      color:#070709;
      font-size:20px;
      font-weight:100;
      font-family: 'Muli', sans-serif;
    }
	}
  #tournament_information{
    min-height:850px;
    .layout4{
      background:image-url('layer-4.png') no-repeat left top;
      width:280px;
      height:104px;
      p{
        padding:0;
        margin: -15px 0 0 0;
        .area{
          padding:25px 0 25px 25px;
          text-indent: 15px;
          display: block;
          width: 122px;
          float: left;
          font-family: 'pt_sansregular';
          font-weight: 300;
        }
        .unite{
          background: image-url('unite.png') repeat-x left top;
          color: rgba(85, 85, 85, 0.5);
          width: 89px;
          text-align: right;
          height: 59px;
          padding-right: 2px;
          line-height: 56px;
          font-size: 53px;
          display: block;
          margin-top: 22px;
          float: left;     
          margin-left:5px;
        }
      }
    }
    h2.title{
      color:#070709;
      font-size:36px;
      font-weight:100;
      font-family: 'Muli', sans-serif;
      margin:0;
      text-transform:uppercase;
      width:560px;
    }
  }
	#description {
		font-size: 13px;
    font-weight:500;
    font-family:'pt_sansregular';
    #tournament_inscription{
      margin-bottom:65px;
    }
	}
  
}

#participants_list{
  margin-top:20px;
  font-family:'pt_sansregular';
  font-weight:300;
  text-transform:uppercase;
  .box-inscrit{
    font-size:20px;
    @include clearfix;
    width:100%;
    background: image-url('ombre.png') no-repeat bottom center;
    width:420px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    .number{
      font-size:46px;
      display:block;
      width:50px;
      height:55px;
      float:left;
      padding-left:60px;
      text-align:right;
    }
    .tite{
      width: 195px;
      display: block;
      float: left;
      margin-left: 10px;
      line-height:18px;
      margin-top:8px;
    }
    
  }
  .line-user, .line-user-header{
      color:#646464;
      font-size:12px;
      @include clearfix;
      display:block;
      margin-bottom:2px;
      div{
        display:block;
        float:left;
        font-size:12px;
        min-height:10px;
      }
      .licence{width:100px;}
      .name{width:150px;}
      .asso{width:70px;}
      .validation{width:110px;}
  }
  .line-user-header{
    div{color:#000; font-weight:bold;}
  }
  #males{
    padding-bottom:40px;
    .number{
      background:image-url('male.png') no-repeat left top;
    }
  }
  #females{    
    padding-bottom:40px;
    .number{
      background:image-url('female.png') no-repeat left top;
    }
  }
}
.popin{
  .wrap-popin{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    background:rgba(0,0,0,.9);
  }

  .close {
    height: 44px;
    float: right;
    background: image-url('close.png') no-repeat right;
    padding-right: 50px;
    line-height: 44px;
  }
}

#tournament_participants {
  h2.title {
    font-size: 36px;
    font-family: 'Muli', sans-serif;
    margin: 0;
    text-transform: uppercase;
    color: white;
  }

  body.popin &{
    padding-top: 30px;
    position:relative;
    width:$wrap;
    margin:50px auto;
    height:100%; 

    * { color: white; }
    .line-user-header div { color: white; }
    .category {
      width: $wrap / 2;
      float: left;
    }
  }
}

#inscription_confirmation{
  body.popin &{
    position:relative;
    width:$wrap;
    margin:50px auto;
    height:100%;
    color: white;  
  }
  .identity{
    text-transform:uppercase;
  }
  .user_information{    
    text-transform:uppercase;
    color:#000;
    font-size:14px;
  }
  .thanks {
    padding:10px 0;
    width: 350px;
  }
  .thanks.little { font-size: 12px; }
  .footer_message {
    margin-top: 20px;
  }
}

#bottom_layer{
  width: 370px;
  padding-left: 180px;
  background: image-url('coupe.png') no-repeat left center;
  height: 280px;
  margin: 50px auto;  
  .tournoi_title{
    font-size:24px;
    margin:0;
  }
  .desc{
    font-size:22px;
  }
  .info{
    width: 240px;
    font-weight: 900;
    margin-bottom: 10px;
  }
}

.error-title{
  color:$red;
  font-weight:900;
  font-family: 'pt_sansbold';
  padding:5px 0;
  text-transform:uppercase;
}

#registration_form{
  .info{
    color:$grey;
    padding-bottom:15px;
  }
  margin-bottom:30px;
  width:560px;
}

a.link{
  display:block;
  padding:5px 0 0 0;
  color:#000;
}
.alert{
  color:$red;
  font-weight:900;
}

form {
  &#tournament_form{
    width:470px;
    input#email{
      margin-right:100px
    }
  }
  .field{
    display:block;
    padding-bottom:10px;
  }
  .radio-male, .radio-female{
    display:inline-block;
    width:90px;
    color:$grey;
  }
  textarea{
    background:#eee;
    font-size:13px;
    padding:3px 5px;
    display:block;
    font-weight:100;
    margin:15px 0;
    min-height:95px;
		@include border-radius(3px);
    &.comment_input{
      width: 425px;
    }
  }
	input[type=text], input[type=email], input[type=submit] {
		width: $input_width;
		margin-right: 10px;
		@include border-radius(200px);
	}
  input#email{
    background:#eee;
    font-size:13px;
    padding:3px 5px;
    @include inputshadow;
    font-weight:100;
    margin-right:100px
  }
  input[type=text], input[type=email]{
    background:#eee;
    &.special_input{
      background:#fff;
    }
    font-size:13px;
    padding:3px 5px;
    @include inputshadow;
    font-weight:100;
    margin-right:10px;
  }
	input[type=submit] {
		background: $red;
		border: none;
    width:80px;
    text-shadow:none;
    &.send{
      width:200px;
    }
	}
  .infolegal{    
    margin: 10px 0;
    font-size: 11px;
    font-weight: 500;
    font-family: 'pt_sansregular';
    line-height: 11px;
    width: 390px;
    .asterisk{
      font-family: 'pt_sansbold';
      color: $red;
      font-size: 40px;
      float: left;
      vertical-align: top;
      display: block;
      height: 20px;
      line-height: 38px;
      margin-right: 5px;
    }
  }
}