// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/******************
***  Variables  ***
******************/
$page_width: 700px;
$page_75_width: $page_width * 0.75;
$page_50_width: $page_width * 0.5;
$page_25_width: $page_width * 0.25;

$menu_item_width: 120px;


/****************
****  Mixins  ***
*****************/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

/**************************
***  Position and size  ***
**************************/
.clearfix {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin: auto;
}

.size_100 {
	width: $page_width; 
}

.size_75 {
	width: $page_75_width;
}

.size_50 {
	width: $page_50_width;
}

.size_25 {
	width: $page_25_width
}

/*************
***  Menu  ***
*************/
#menu {
	background: red;

	.menu_item, .menu_image, .menu_text {
		float: left;
	}

	.menu_item {
		width: $menu_item_width;
		margin-right: ($page_width - 3 * $menu_item_width) / 2;
	}

	.menu_item:nth-of-type(3) {
		margin-right: 0;
	}
}


form {
	input[type=text], input[type=email], input[type=commit] {
		@include border-radius(200px);
	}
}