// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/******************
***  Variables  ***
******************/
$page_width: 700px;
$page_75_width: $page_width * 0.75;
$page_50_width: $page_width * 0.5;
$page_25_width: $page_width * 0.25;

$menu_item_width: $page_width / 3;

$input_width: 170px;

$red: #ff4b61;

/****************
****  Mixins  ***
*****************/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

/**************************
***  Position and size  ***
**************************/
.clearfix { clear: both; }
.left { float: left; }
.right { float: right; }
.center { margin: auto; }
.size_100 { width: $page_width;  }
.size_75 { width: $page_75_width; }
.size_50 { width: $page_50_width; }
.size_25 { width: $page_25_width }

/*********************
***  Font classes  ***
*********************/
* { font: 15px 'pt_sansregular'; }
.bold { font-family: 'pt_sansbold'; }
.red { color: $red; }
body { background: url("trame.png"); }

/*************
***  Menu  ***
*************/
#menu {
	background: $red;
	color: white;

	.menu_item {
		float: left;
		margin: 3px 0;
		width: $menu_item_width;
		cursor: pointer;
	}

	.menu_item:nth-of-type(1) { text-align: left; }

	.menu_item:nth-of-type(2) { text-align: center; }

	.menu_item:nth-of-type(3) { text-align: right; }

	.menu_item img { 
		vertical-align: middle;
		margin-right: 4px;
	}
}

#tournament {

	#tournament_introduction { margin-bottom: 30px; }

	#description { font-size: 18px; }
}

form {
	input[type=text], input[type=email], input[type=submit] {
		width: $input_width;
		margin-right: 10px;
		@include border-radius(200px);
	}

	input[type=submit] {
		width: inherit;
		background: $red;
		border: none;
	}
}