%p
  Confirmation de la boite mail
  =@email
%p Bienvenue au tournoi my-squash,
%br
%p Pour activer votre inscription, veuillez cliquer sur le lien ci-dessous ou copier/coller dans votre navigateur internet.
%p= link_to 'Confirmer mon adresse mail', confirmation_url(@resource, :confirmation_token => @token)

%br
%p Ceci est un mail automatique, Merci de ne pas y répondre.